<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum Triche & Jeux Vidéo</title>
    <link rel="stylesheet" href="/Resources/HavocHeader.css">
    <link rel="stylesheet" href="/Resources/home.css">
</head>
<body>

    <header>
        <nav class="navbar">
            <div class="navdiv">
                <div class="navlogo">
                    <img src="/Resources/pictures/Logo_GlitchHavoc.png">
                    <h1>Glitch Havoc</h1>
                </div>
                <ul>
                    <li><a href="/">Home</a></li>
                    {{if .IsAdmin}}
                    <li><a href="/admin">Admin Panel</a></li>
                    {{end}}
                    <li class="search-container">
                        <a href="#">Search</a>
                        <div class="search-box">
                            <input type="text" placeholder="Tapez votre recherche...">
                        </div>
                    </li>
                    {{if .IsLogged}}
                    <button><a href="#">{{.Username}}</a></button>
                    {{else}}
                    <button><a href="/login">Connexion</a></button>
                    {{end}}
                </ul>
            </div>
        </nav>
    </header>

    <div class="Body-Container"> 
        <div class="Forum-Container">
            <div class="Thread-Grid">

                <div class="Threads-Block">
                    <div class="Threads-Block-Head">
                        <div class="Block-Title">
                            <h1>Top Threads</h1>
                        </div>
                    </div>
                    <div class="Threads-Block-Content">
                        <div class="Thread-Div">
                            <div class="Thread-User-Avatar"></div>
                            <div class="Thread-Name"><button>test</button></div>
                        </div>
                        <div class="Thread-Div">
                            <div class="Thread-User-Avatar"></div>
                            <div class="Thread-Name"><button>test</button></div>
                        </div>
                        <div class="Thread-Div">
                            <div class="Thread-User-Avatar"></div>
                            <div class="Thread-Name"><button>test</button></div>
                        </div>
                    </div>
                </div>

                <div class="Threads-Block">
                    <div class="Threads-Block-Head">
                        <div class="Block-Title">
                            <h1>Last Threads</h1>
                        </div>
                    </div>
                    <div class="Threads-Block-Content">
                        {{range .LastedThreads}}
                        <div class="Thread-Div">
                            <div class="Thread-User-Avatar"></div>
                            <div class="Thread-Name">{{.Title}}</div>
                        </div>
                        {{end}}
                    </div>
                </div>

                
            </div>
            
            

            <div class="User-Grid">
                <div class="User-Block">
                    <div class="User-Block-Head">
                        <div class="Block-Title">
                            <h1>Profile</h1>
                        </div>
                    </div>
                    <div class="User-Block-Content"></div>
                </div>
            </div>
        </div>
        <footer><p>&copy; Blabla y'a du copyright</p></footer>
    </div>


</body>
</html>
